.thickborderbox {
  contain: paint;
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  outline: solid 0.8rem rgba(0,0,0,0.5);
  outline-offset: -0.8em;
  background: linear-gradient(90deg, papayawhip 0%, white 33%, white 67%, papayawhip 100%);
  box-shadow: inset 0.6rem 0.6rem 1.2rem rgba(0,0,0,0.25), 0.3rem 0.3rem 1.2rem rgba(0,0,0,0.25);
  margin-top: 1rem;
}
.gradbox {
  @extend .thickborderbox;
  flex-direction: unset;
  margin-left: unset;
  outline: solid 0.8rem black;
  background: linear-gradient(90deg, rgb(184, 49, 37) 0%, rgb(216, 59, 44) 33%, rgb(216, 59, 44) 67%, rgb(184, 49, 37) 100%);
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.skewbox {
  @extend .gradbox;
  margin-top: unset;
  width: unset;
  margin-bottom: unset;
}

.skewbox-pic {
  flex: 1 1 15rem;
  align-self: stretch;
  background-position: center;
  background-size: cover;
  order: 0;
}
a.skewbox {
  @extend .skewbox;
  text-decoration: none;
}
.skewbox-link {
  display: flex;
  align-items: flex-start;
  flex: 1 1 15rem;
}
.skewbox-title {
  @extend .skewbox;
  width: 95%;
  flex: 0 1 auto;
  margin: 0;
  margin-bottom: -0.8rem;
  transform-style: preserve-3d;
  transition: initial;
  animation-timing-function: initial;
  transform: unset;
  transform: rotateX(-20deg);
  justify-content: center;
  div {
    transform: unset;
    margin-left: 3em;
    margin-right: 3em;
  }
  h1 {
    font-family: 'Sancreek', serif;
    font-size: 10em;
  }
}
.container.blog {
  flex-direction: column;
  width: 90%;
}
.container.pics {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
}
.linkbox {
  @extend .gradbox;
  height: 35rem;
  // width: 25rem;
  display: flex;
  flex: 0 1 0%;
  flex-direction: column;
  justify-content: center;
  outline: solid 0.4em black;
  outline-offset: -0.4em;
  padding: 0.4em;
  margin: 1rem;
}
img.screenshot {
  // display: block;
  max-width: 30rem;
  max-height: 30rem;
  display: flex;
  flex: 0 1 0%;
  background: red;
  object-fit: contain;
  // align-items: center;
  // justify-content: center;
}