$skew-degrees: 1.5deg;

.container {
  display: flex;
  flex: 1 1 0%;
  width: 90vw;
  flex-direction: row;
  align-items: stretch;
  .thickborderbox {
    margin-left: 1rem;
  }
  .skewbox {
    h1 {
      font-family: 'Six Caps', sans-serif;
      font-size: 10em;
    }
    transform: skew(0deg, $skew-degrees);
    flex-direction: column;
    align-items: center;
    div, img {
      display: block;
      z-index: -1;
      transform: skew(0deg, -$skew-degrees);
    }
  }
  .skewbox-title {
    h1 {
      font-size: 10em;
      font-family: 'Sancreek', serif;
    }
    div {
      transform: unset;
    }
    transform: unset;
    transform: rotateX(-20deg);
    margin-bottom: 1.5rem;
  }
  .skewbox:nth-of-type(2n) {
    transform: skew(0deg, -$skew-degrees);
    margin-top: -1rem;
    margin-bottom: 1rem;
    div {
      transform: skew(0deg, $skew-degrees);
    }
  }
}