$skew-degrees: 1.5deg;

.container {
  display: flex;
  width: 90vw;
  min-width: $media-phone;
  flex-direction: row;
  align-items: center;
  perspective: 200rem;  
  .skewbox {
    h1 {
      font-family: 'Six Caps', sans-serif;
      font-size: 10em;
    }
    transform: skew(0deg, $skew-degrees);
    margin-top: 10px;
    flex-direction: column;
    div {
      height: 100%;
      transform: skew(0deg, -$skew-degrees);
    }
  }
  .skewbox-title {
    h1 {
      font-family: 'Sancreek', serif;
      font-size: 10em;
    }
    transform: unset;
    margin-bottom: 15px;
    transform: rotateX(-20deg);
    div {
      transform: unset;
    }
  }
  .skewbox:nth-of-type(2n) {
    transform: skew(0deg, -$skew-degrees);
    margin-top: -10px;
    div {
      transform: skew(0deg, $skew-degrees);
    }
  }
}