$skew-degrees: 1.5deg;

.container {
  display: flex;
  flex: 1 1 100%;
  width: 90vw;
  flex-direction: row;
  align-items: stretch;
  .skewbox {
    h1 {
      font-family: 'Six Caps', sans-serif;
      font-size: 10em;
    }
    transform: skew(0deg, $skew-degrees);
    margin-left: 1rem;
    flex-direction: column;
    div {
      transform: skew(0deg, -$skew-degrees);
    }
  }
  .skewbox-title {
    h1 {
      font-family: 'Sancreek', serif;
      font-size: 10em;
    }
    transform: unset;
    margin-bottom: 1.5rem;
    transform: rotateX(-20deg);
    div {
      transform: unset;
    }
  }
  .skewbox:nth-of-type(2n) {
    transform: skew(0deg, -$skew-degrees);
    margin-top: -1rem;
    margin-bottom: 1rem;
    div {
      transform: skew(0deg, $skew-degrees);
    }
  }
  .skewbox:hover {
    padding: 0.67rem;
    margin-left: 0.33rem;
    margin-right: -0.67rem;
  }
  .skewbox-title {
    width: 95%;
    h1 {
      font-family: 'Sancreek', serif;
      font-size: 10em;
    }
    justify-content: center;
    transform: unset;
    margin-bottom: 1.5rem;
    transform: rotateX(-20deg);
    div {
      transform: unset;
    }
    &:hover {
      padding: 0;
      margin-top: unset;
      margin-bottom: 1.5rem;
    } 
  }
}