.skewbox {
  contain: paint;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  box-sizing: border-box;
  // justify-content: space-evenly;
  background: linear-gradient(90deg, rgb(184, 49, 37) 0%, rgb(216, 59, 44) 33%, rgb(216, 59, 44) 67%, rgb(184, 49, 37) 100%);
  outline: solid 0.8rem black;
  outline-offset: -0.8em;
  margin-top: 1rem;
  box-shadow: inset 0.3rem 0.3rem 1.2rem rgba(0,0,0,0.25), 0.3rem 0.3rem 1.2rem rgba(0,0,0,0.25);
  transform: skew($skew-degrees, 0deg);
  margin-left: 1rem;
  transition: 0.08s;
  animation-timing-function: ease-out;
  div {
    z-index: -1;
    transform: skew(-$skew-degrees, 0deg);
  }
}

.skewbox-pic {
  flex: 1 1 15rem;
  align-self: stretch;
  background-position: center;
  background-size: cover;
  order: 0;
}
.skewbox-link {
  display: flex;
  align-items: flex-start;
  flex: 1 1 15rem;
}