.skewbox-title{
  @extend .skewbox;
  flex: 0 1 auto;
  margin:0;
  margin-bottom: -0.8rem;
  transform-style: preserve-3d;
  transition: initial;
  animation-timing-function: initial;
  transform: rotateX(-30deg);
  // margin-bottom: -1rem;
  div {
    margin-left: 3em;
    margin-right: 3em;
  }
  h1 {
    font-size: 7.5rem;
  }
}