.skewbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgb(184, 49, 37) 0%, rgb(216, 59, 44) 33%, rgb(216, 59, 44) 67%, rgb(184, 49, 37) 100%);
  outline: solid 0.8rem black;
  outline-offset: -0.8em;
  width: 80%;
  margin-top: 1rem;
  box-shadow: inset 3px 3px 12px rgba(0,0,0,0.25), 3px 3px 12px rgba(0,0,0,0.25);
  transform: skew($skew-degrees, 0deg);
  margin-left: 10px;
  transition: 0.08s;
  animation-timing-function: ease-out;
  div {
    margin-left: 3em;
    margin-right: 3em;
    transform: skew(-$skew-degrees, 0deg);
  }
  &:hover {
    padding: 0.67rem;
    margin-top: 0.33rem;
    margin-bottom: -0.75rem;
  }
  &:nth-child(2n of .pic-bg) {
    order: 1;
  }
  &:nth-child(3n-2 of .pic-bg) {
    background-image: url("assets/il-buono.svg");
  }
  &:nth-child(3n-1 of .pic-bg) {
    background-image: url("assets/il-brutto.svg");
  }
  &:nth-child(3n of .pic-bg) {
    background-image: url("assets/il-cattivo.svg");
  }
}