@import url("https://fonts.googleapis.com/css2?family=Sancreek");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Six+Caps");
* {
  font-size: 10px;
  margin: 0;
}
@media (min-resolution: 96dpi) {
  * {
    font-size: 10px;
  }
}
@media (min-resolution: 166dpi) {
  * {
    font-size: 10px;
  }
}
@media (min-resolution: 192dpi) {
  * {
    font-size: 5px;
  }
}
@media (min-resolution: 469dpi) {
  * {
    font-size: 5px;
  }
}

h1 {
  font-family: "Sancreek", serif;
  color: papayawhip;
  transform: scale(1, 0.67);
  text-transform: uppercase;
  text-align: center;
  font-size: 8rem;
  letter-spacing: 0.05em;
  text-shadow: 0.3rem 0.3rem 1.2rem rgba(0, 0, 0, 0.25);
}

h2 {
  position: relative;
  z-index: 1;
  font-family: "Averia Serif Libre", serif;
  font-size: 3rem;
  color: firebrick;
  text-transform: uppercase;
  text-shadow: 0.3rem 0.3rem 0.8rem rgba(0, 0, 0, 0.1);
}

.skewbox, .skewbox-title {
  contain: paint;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  box-sizing: border-box;
  background: linear-gradient(90deg, #b83125 0%, #d83b2c 33%, #d83b2c 67%, #b83125 100%);
  outline: solid 0.8rem black;
  outline-offset: -0.8em;
  box-shadow: inset 0.3rem 0.3rem 1.2rem rgba(0, 0, 0, 0.25), 0.3rem 0.3rem 1.2rem rgba(0, 0, 0, 0.25);
  transform: skew(4deg, 0deg);
  margin-left: 1rem;
  transition: 0.08s;
  animation-timing-function: ease-out;
}
.skewbox div, .skewbox-title div {
  z-index: -1;
  transform: skew(-4deg, 0deg);
}

.skewbox-pic {
  flex: 1 1 15rem;
  align-self: stretch;
  background-position: center;
  background-size: cover;
  order: 0;
}

.skewbox-link {
  display: flex;
  align-items: flex-start;
  flex: 1 1 15rem;
}

.skewbox-title {
  flex: 0 1 auto;
  margin: 0;
  margin-bottom: -0.8rem;
  transform-style: preserve-3d;
  transition: initial;
  animation-timing-function: initial;
  transform: rotateX(-30deg);
}
.skewbox-title div {
  margin-left: 3em;
  margin-right: 3em;
}
.skewbox-title h1 {
  font-size: 7.5rem;
}

.footer {
  margin-top: 4.5rem;
  margin-bottom: 0rem;
  contain: layout;
  display: flex;
  flex: 1 2 auto;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
}
.footer a {
  text-decoration: none;
}
.footer .button {
  margin: 0.5rem 1rem;
  background: papayawhip;
  box-shadow: 0 0 3rem 3rem papayawhip;
}
.footer .button:hover {
  font-size: 3rem;
}

@media (min-aspect-ratio: 5/4) {
  .container, .footer-container, .header-container {
    display: flex;
    flex: 1 1 100%;
    width: 90vw;
    flex-direction: row;
    align-items: stretch;
  }
  .container .skewbox, .footer-container .skewbox, .header-container .skewbox, .container .skewbox-title, .footer-container .skewbox-title, .header-container .skewbox-title {
    transform: skew(0deg, 1.5deg);
    margin-left: 1rem;
    flex-direction: column;
  }
  .container .skewbox h1, .footer-container .skewbox h1, .header-container .skewbox h1, .container .skewbox-title h1, .footer-container .skewbox-title h1, .header-container .skewbox-title h1 {
    font-family: "Six Caps", sans-serif;
    font-size: 10em;
  }
  .container .skewbox div, .footer-container .skewbox div, .header-container .skewbox div, .container .skewbox-title div, .footer-container .skewbox-title div, .header-container .skewbox-title div {
    transform: skew(0deg, -1.5deg);
  }
  .container .skewbox-title, .footer-container .skewbox-title, .header-container .skewbox-title {
    transform: unset;
    margin-bottom: 1.5rem;
    transform: rotateX(-20deg);
  }
  .container .skewbox-title h1, .footer-container .skewbox-title h1, .header-container .skewbox-title h1 {
    font-family: "Sancreek", serif;
    font-size: 10em;
  }
  .container .skewbox-title div, .footer-container .skewbox-title div, .header-container .skewbox-title div {
    transform: unset;
  }
  .container .skewbox:nth-of-type(2n), .footer-container .skewbox:nth-of-type(2n), .header-container .skewbox:nth-of-type(2n), .container .skewbox-title:nth-of-type(2n), .footer-container .skewbox-title:nth-of-type(2n), .header-container .skewbox-title:nth-of-type(2n) {
    transform: skew(0deg, -1.5deg);
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
  .container .skewbox:nth-of-type(2n) div, .footer-container .skewbox:nth-of-type(2n) div, .header-container .skewbox:nth-of-type(2n) div, .container .skewbox-title:nth-of-type(2n) div, .footer-container .skewbox-title:nth-of-type(2n) div, .header-container .skewbox-title:nth-of-type(2n) div {
    transform: skew(0deg, 1.5deg);
  }
  .container .skewbox:hover, .footer-container .skewbox:hover, .header-container .skewbox:hover, .container .skewbox-title:hover, .footer-container .skewbox-title:hover, .header-container .skewbox-title:hover {
    padding: 0.67rem;
    margin-left: 0.33rem;
    margin-right: -0.67rem;
  }
  .container .skewbox-title, .footer-container .skewbox-title, .header-container .skewbox-title {
    width: 95%;
    justify-content: center;
    transform: unset;
    margin-bottom: 1.5rem;
    transform: rotateX(-20deg);
  }
  .container .skewbox-title h1, .footer-container .skewbox-title h1, .header-container .skewbox-title h1 {
    font-family: "Sancreek", serif;
    font-size: 10em;
  }
  .container .skewbox-title div, .footer-container .skewbox-title div, .header-container .skewbox-title div {
    transform: unset;
  }
  .container .skewbox-title:hover, .footer-container .skewbox-title:hover, .header-container .skewbox-title:hover {
    padding: 0;
    margin-top: unset;
    margin-bottom: 1.5rem;
  }
}
@media (max-aspect-ratio: 5/4) and (max-aspect-ratio: 320/568) {
  h1 {
    font-family: "Six Caps", sans-serif;
    font-size: 13em;
  }
}
@media (max-aspect-ratio: 5/4) {
  .container, .footer-container, .header-container {
    display: flex;
    flex: 1 1 0%;
    width: 85vw;
    flex-direction: column;
    align-items: center;
  }
  .container .skewbox, .footer-container .skewbox, .header-container .skewbox, .container .skewbox-title, .footer-container .skewbox-title, .header-container .skewbox-title {
    width: 100%;
    margin-top: 1rem;
  }
  .container .skewbox:nth-of-type(2n), .footer-container .skewbox:nth-of-type(2n), .header-container .skewbox:nth-of-type(2n), .container .skewbox-title:nth-of-type(2n), .footer-container .skewbox-title:nth-of-type(2n), .header-container .skewbox-title:nth-of-type(2n) {
    transform: skew(-4deg, 0deg);
    margin-left: -1rem;
  }
  .container .skewbox:nth-of-type(2n) div, .footer-container .skewbox:nth-of-type(2n) div, .header-container .skewbox:nth-of-type(2n) div, .container .skewbox-title:nth-of-type(2n) div, .footer-container .skewbox-title:nth-of-type(2n) div, .header-container .skewbox-title:nth-of-type(2n) div {
    transform: skew(4deg, 0deg);
  }
  .container .skewbox:hover, .footer-container .skewbox:hover, .header-container .skewbox:hover, .container .skewbox-title:hover, .footer-container .skewbox-title:hover, .header-container .skewbox-title:hover {
    padding: 0.67rem;
    margin-top: 0.33rem;
    margin-bottom: -0.67rem;
  }
  .container .skewbox-title, .footer-container .skewbox-title, .header-container .skewbox-title {
    width: 95%;
    justify-content: center;
    transform: unset;
    margin-bottom: 0rem;
    transform: rotateX(-20deg);
  }
  .container .skewbox-title h1, .footer-container .skewbox-title h1, .header-container .skewbox-title h1 {
    font-family: "Sancreek", serif;
    font-size: 10em;
  }
  .container .skewbox-title div, .footer-container .skewbox-title div, .header-container .skewbox-title div {
    transform: unset;
  }
  .container .skewbox-title:hover, .footer-container .skewbox-title:hover, .header-container .skewbox-title:hover {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .container .skewbox-link, .footer-container .skewbox-link, .header-container .skewbox-link {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header-container {
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: unset;
  flex: 0 1 0%;
  perspective: 200rem;
}

.footer-container {
  width: 90vw;
  flex-direction: column;
  flex: 0 1 100%;
}

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, burlywood 0%, papayawhip 33%, papayawhip 67%, burlywood 100%);
}

.skewbox:nth-child(2n) .skewbox-pic, .skewbox-title:nth-child(2n) .skewbox-pic {
  order: 1;
}
.skewbox:nth-child(2n) .skewbox-link, .skewbox-title:nth-child(2n) .skewbox-link {
  align-items: flex-end;
}
.skewbox:nth-child(3n-2) .skewbox-pic, .skewbox-title:nth-child(3n-2) .skewbox-pic {
  background-image: url("../assets/il-buono.svg");
}
.skewbox:nth-child(3n-1) .skewbox-pic, .skewbox-title:nth-child(3n-1) .skewbox-pic {
  background-image: url("../assets/il-brutto.svg");
}
.skewbox:nth-child(3n) .skewbox-pic, .skewbox-title:nth-child(3n) .skewbox-pic {
  background-image: url("../assets/il-cattivo.svg");
}

/*# sourceMappingURL=style.css.map */
