@import url('https://fonts.googleapis.com/css2?family=Sancreek');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps');

$media-tablet: 768px;
$media-phone: 360px;

$skew-degrees: 4deg;

$root-font-size: 10px;

// Averia serif libre - h1, main sections
// sancreek - noodly cheezy old west slab-serif - h2, buttons etc
// Six Caps - tall movie font for landscape windows - h1

* {
  font-size: 10px;
  @media (min-resolution: 96dpi) { 
    font-size: 10px;
  }
  @media (min-resolution: 166dpi) {
    // my own screen - 1080p at 13.3" wide.
    font-size: 10px;
  }
  @media (min-resolution: 192dpi) { 
    font-size: 5px;
  }
  @media (min-resolution: 469dpi) { 
    // my phone - 4.7" 1080p
    font-size: 5px;
  }
  
  margin: 0;
}

h1 {
  font-family: 'Sancreek', serif;
  color: papayawhip;
  transform: scale(1,0.67);
  text-transform: uppercase;
  text-align: center;
  font-size: 8rem;
  letter-spacing: 0.05em;
  text-shadow: 0.3rem 0.3rem 1.2rem rgba(0,0,0,0.25);
}

h2 {
  position: relative; //required to make z-index work
  z-index: 1;
  font-family: 'Averia Serif Libre', serif;
  font-size: 3rem;
  color: firebrick;
  text-transform: uppercase;
  text-shadow: 0.3rem 0.3rem 0.8rem rgba(0,0,0,0.1);
}

@import "skewbox";
@import "skewbox-title";
@import "footer";

@media (min-aspect-ratio: 5/4) {
  @import "landscape";
}
@media (max-aspect-ratio: 5/4) {
  @import "portrait";
}
.header-container {
  @extend .container;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: unset;
  flex: 0 1 0%;
}
.footer-container {
  @extend .container;
  // width: 100vw;
  margin-top: auto;
  flex-direction: column;
  flex: 0 1 100%;
}

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, burlywood 0%, papayawhip 33%, papayawhip 67%, burlywood 100%);
}
.skewbox {
  &:nth-child(2n) .skewbox-pic {
  order: 1;
  }
  &:nth-child(2n) .skewbox-link {
  align-items: flex-end;
}
  &:nth-child(3n-2) .skewbox-pic {
    background-image: url("../assets/il-buono.svg");
  }
  &:nth-child(3n-1) .skewbox-pic {
    background-image: url("../assets/il-brutto.svg");
  }
  &:nth-child(3n) .skewbox-pic {
    background-image: url("../assets/il-cattivo.svg");
  }
}