@import url('https://fonts.googleapis.com/css2?family=Sancreek');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

$media-tablet: 768px;
$media-phone: 360px;

$skew-degrees: 4deg;

$root-font-size: 10px;

// Averia serif libre - h1, main sections
// sancreek - noodly cheezy old west slab-serif - h2, buttons etc
// Six Caps - tall movie font for landscape windows - h1
// Sen - paragraph text. slightly art-deco

* {
  font-size: 10px;
  @media (min-resolution: 96dpi) { 
    font-size: 10px;
  }
  @media (min-resolution: 166dpi) {
    // my own screen - 1080p at 13.3" wide.
    font-size: 10px;
  }
  @media (min-resolution: 192dpi) { 
    font-size: 5px;
  }
  @media (min-resolution: 469dpi) { 
    // my phone - 4.7" 1080p
    font-size: 5px;
  }
  @media only screen and (max-width: 810px) {
    font-size: 9px;
  }
  @media only screen and (max-width: 675px) {
    font-size: 8px;
  }
  // @media only screen and (max-width: 533px) {
  //   font-size: 6px;
  // }
  // @media only screen and (max-width: 454px) {
  //   font-size: 5px;
  // }
  // @media only screen and (max-width: 376px) {
  //   font-size: 4px;
  // }
  // @media only screen and (max-width: 308px) {
  //   font-size: 3px;
  // }
  // @media only screen and (max-width: 226px) {
  //   font-size: 2.5px;
  // }

  text-decoration: none;
  margin: 0;
}

h1, .h1 {
  display: block;
  font-family: 'Sancreek', serif;
  color: papayawhip;
  transform: scale(1,0.67);
  text-transform: uppercase;
  text-align: center;
  font-size: 8rem;
  letter-spacing: 0.05em;
  text-shadow: 0.3rem 0.3rem 1.2rem rgba(0,0,0,0.25);
}

h2 {
  position: relative; //required to make z-index work
  z-index: 1;
  font-family: 'Averia Serif Libre', serif;
  font-size: 3rem;
  color: firebrick;
  text-transform: uppercase;
  text-shadow: 0.3rem 0.3rem 0.8rem rgba(0,0,0,0.1);
}

nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
  & > * {
    margin: 0 0rem 0 3rem; //top right bottom left
  }
}

@import "boxes";
@import "footer";

@media (min-aspect-ratio: 5/4) {
  @import "landscape";
}
@media (max-aspect-ratio: 5/4) {
  @import "portrait";
}
.thickborderbox {
  align-items: flex-start;
  justify-content: flex-start;
  p.p, h1.p {
    display: block;
    font-family: 'Sen', sans-serif;
    font-size: 3.5rem;
    text-transform: unset;
    text-align: left;
    transform: unset;
    letter-spacing: unset;
    color: rgb(97, 19, 19);
    display: block;
    margin: 2rem 2rem 0 2rem;
    padding-bottom: 2rem;
  }
  p.p {
    font-size: 2.2rem;
    margin: 0rem 3rem 0 3rem;
    text-indent: 4rem;
  }
}

.header-container {
  @extend .container;
  box-sizing: border-box;
  width: 95vw;
  align-items: center;
  justify-content: center;
  background-color: unset;
  flex: 0 1 0%;
  perspective: 200rem;
  .gradbox {
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: fit-content;
    padding-right: 2rem;
    .h1 {
      font-size: 6rem;
      margin: 0 0 0 2rem;
    }
    .p {
      margin: 0;
      display: block;
      font-family: 'Sen', sans-serif;
      font-size: 2rem;
      color: papayawhip;
      margin: 0 0 0 2rem;
    }
    div {
      display: flex;
      min-height: 5rem;
      align-items: center;
    }
  }
  .skewbox-title {
    justify-content: center;
  }
}
.footer-container {
  @extend .container;
  width: 90vw;
  flex-direction: column;
  flex: 0 1 100%;
}

.outer {
  margin: 0;
  display: flex;
  // box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, burlywood 0%, papayawhip 33%, papayawhip 67%, burlywood 100%);
}
.skewbox {
  &:nth-child(2n) .skewbox-pic {
  order: 1;
  }
  &:nth-child(2n) .skewbox-link {
  align-items: flex-end;
  }
  &:nth-child(3n-2) .skewbox-pic {
    background-image: url("../assets/il-buono.svg");
  }
  &:nth-child(3n-1) .skewbox-pic {
    background-image: url("../assets/il-brutto.svg");
  }
  &:nth-child(3n) .skewbox-pic {
    background-image: url("../assets/il-cattivo.svg");
  }
}

