@import url('https://fonts.googleapis.com/css2?family=Sancreek');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps');

$media-tablet: 768px;
$media-phone: 360px;

$skew-degrees: 4deg;
// Averia serif libre - h1, main sections
// sancreek - noodly cheezy old west slab-serif - h2, buttons etc
// Six Caps - tall movie font for landscape windows - h1

@import "portrait";
// @import "landscape";

@import "skewbox-title";
.footer-container {
  @extend .container;
  margin-top: auto;
}
@import "footer";

.outer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(90deg, burlywood 0%, papayawhip 33%, papayawhip 67%, burlywood 100%);
}

.skewbox-pic {
  min-width: 150px;
  // flex-grow: 0;
  min-height: 150px;
  // background-position: left;
  background-size: contain;
  order: 0;
}
// .skewbox-link {
//   flex-grow: 1;
// }

.skewbox {
  &:nth-child(2n) .skewbox-pic {
  order: 1;
  }
  &:nth-child(3n-2) .skewbox-pic {
    background-image: url("../assets/il-buono.svg");
  }
  &:nth-child(3n-1) .skewbox-pic {
    background-image: url("../assets/il-brutto.svg");
  }
  &:nth-child(3n) .skewbox-pic {
    background-image: url("../assets/il-cattivo.svg");
  }
}