@import url("https://fonts.googleapis.com/css2?family=Sancreek");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Six+Caps");
* {
  margin: 0;
  font-size: 10px;
}

h1 {
  font-family: "Sancreek", serif;
  color: papayawhip;
  transform: scale(1, 0.67);
  text-transform: uppercase;
  text-align: center;
  font-size: 6rem;
  letter-spacing: 0.05em;
  text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
}

h2 {
  font-family: "Averia Serif Libre", serif;
  font-size: 2rem;
  color: firebrick;
  text-transform: uppercase;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
}

.skewbox, .skewbox-title {
  contain: paint;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(90deg, #b83125 0%, #d83b2c 33%, #d83b2c 67%, #b83125 100%);
  outline: solid 0.8rem black;
  outline-offset: -0.8em;
  width: 80%;
  margin-top: 1rem;
  box-shadow: inset 3px 3px 12px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(0, 0, 0, 0.25);
  transform: skew(4deg, 0deg);
  margin-left: 10px;
  transition: 0.08s;
  animation-timing-function: ease-out;
}
.skewbox div, .skewbox-title div {
  margin-left: 3em;
  margin-right: 3em;
  transform: skew(-4deg, 0deg);
}
.skewbox:hover, .skewbox-title:hover {
  padding: 0.67rem;
  margin-top: 0.33rem;
  margin-bottom: -0.75rem;
}

.skewbox-pic {
  z-index: -1;
  min-width: 150px;
  flex-grow: 1;
  min-height: 150px;
  background-position: center;
  background-size: 100%;
  order: 0;
}

.skewbox-link {
  flex-grow: 2;
}

.skewbox-title {
  width: 95%;
  margin: 0;
  margin-bottom: -0.8rem;
  transform-style: preserve-3d;
  transition: initial;
  animation-timing-function: initial;
  transform: rotateX(-30deg);
  margin-bottom: -10px;
}
.skewbox-title div {
  margin-left: 3em;
  margin-right: 3em;
}
.skewbox-title h1 {
  font-size: 7.5rem;
}
.skewbox-title:hover {
  padding: initial;
  margin-top: inherit;
  margin-bottom: -0.8rem;
}

.footer {
  margin-top: 45px;
  margin-bottom: 0;
  contain: layout;
  display: flex;
  width: 80vw;
  justify-content: space-around;
  align-items: flex-end;
}
.footer a {
  text-decoration: none;
}
.footer .button {
  margin: 0.5rem 1rem;
  background: papayawhip;
  box-shadow: 0px 0px 30px 30px papayawhip;
}
.footer .button:hover {
  font-size: 3rem;
}

@media (min-aspect-ratio: 4/3) {
  .container, .footer-container, .header-container {
    display: flex;
    width: 90vw;
    min-width: 360px;
    flex-direction: row;
    align-items: center;
    perspective: 200rem;
  }
  .container .skewbox, .footer-container .skewbox, .header-container .skewbox, .container .skewbox-title, .footer-container .skewbox-title, .header-container .skewbox-title {
    transform: skew(0deg, 1.5deg);
    margin-top: 10px;
    flex-direction: column;
  }
  .container .skewbox h1, .footer-container .skewbox h1, .header-container .skewbox h1, .container .skewbox-title h1, .footer-container .skewbox-title h1, .header-container .skewbox-title h1 {
    font-family: "Six Caps", sans-serif;
    font-size: 10em;
  }
  .container .skewbox div, .footer-container .skewbox div, .header-container .skewbox div, .container .skewbox-title div, .footer-container .skewbox-title div, .header-container .skewbox-title div {
    height: 100%;
    transform: skew(0deg, -1.5deg);
  }
  .container .skewbox-title, .footer-container .skewbox-title, .header-container .skewbox-title {
    transform: unset;
    margin-bottom: 15px;
    transform: rotateX(-20deg);
  }
  .container .skewbox-title h1, .footer-container .skewbox-title h1, .header-container .skewbox-title h1 {
    font-family: "Sancreek", serif;
    font-size: 10em;
  }
  .container .skewbox-title div, .footer-container .skewbox-title div, .header-container .skewbox-title div {
    transform: unset;
  }
  .container .skewbox:nth-of-type(2n), .footer-container .skewbox:nth-of-type(2n), .header-container .skewbox:nth-of-type(2n), .container .skewbox-title:nth-of-type(2n), .footer-container .skewbox-title:nth-of-type(2n), .header-container .skewbox-title:nth-of-type(2n) {
    transform: skew(0deg, -1.5deg);
    margin-top: -10px;
  }
  .container .skewbox:nth-of-type(2n) div, .footer-container .skewbox:nth-of-type(2n) div, .header-container .skewbox:nth-of-type(2n) div, .container .skewbox-title:nth-of-type(2n) div, .footer-container .skewbox-title:nth-of-type(2n) div, .header-container .skewbox-title:nth-of-type(2n) div {
    transform: skew(0deg, 1.5deg);
  }
}
@media (max-aspect-ratio: 4/3) {
  .container, .footer-container, .header-container {
    display: flex;
    width: 100vw;
    min-width: 360px;
    flex-direction: column;
    align-items: center;
    perspective: 200rem;
  }
  .container .skewbox-title, .footer-container .skewbox-title, .header-container .skewbox-title {
    transform: unset;
    margin-bottom: 15px;
    transform: rotateX(-20deg);
  }
  .container .skewbox-title div, .footer-container .skewbox-title div, .header-container .skewbox-title div {
    transform: unset;
  }
  .container .skewbox:nth-of-type(2n), .footer-container .skewbox:nth-of-type(2n), .header-container .skewbox:nth-of-type(2n), .container .skewbox-title:nth-of-type(2n), .footer-container .skewbox-title:nth-of-type(2n), .header-container .skewbox-title:nth-of-type(2n) {
    transform: skew(-4deg, 0deg);
    margin-left: -10px;
  }
  .container .skewbox:nth-of-type(2n) div, .footer-container .skewbox:nth-of-type(2n) div, .header-container .skewbox:nth-of-type(2n) div, .container .skewbox-title:nth-of-type(2n) div, .footer-container .skewbox-title:nth-of-type(2n) div, .header-container .skewbox-title:nth-of-type(2n) div {
    transform: skew(4deg, 0deg);
  }
}
.header-container {
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.footer-container {
  margin-top: auto;
  flex-direction: column;
}

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, burlywood 0%, papayawhip 33%, papayawhip 67%, burlywood 100%);
}

.skewbox:nth-child(2n) .skewbox-pic, .skewbox-title:nth-child(2n) .skewbox-pic {
  order: 1;
}
.skewbox:nth-child(3n-2) .skewbox-pic, .skewbox-title:nth-child(3n-2) .skewbox-pic {
  background-image: url("../assets/il-buono.svg");
}
.skewbox:nth-child(3n-1) .skewbox-pic, .skewbox-title:nth-child(3n-1) .skewbox-pic {
  background-image: url("../assets/il-brutto.svg");
}
.skewbox:nth-child(3n) .skewbox-pic, .skewbox-title:nth-child(3n) .skewbox-pic {
  background-image: url("../assets/il-cattivo.svg");
}

/*# sourceMappingURL=style.css.map */
