@import url('https://fonts.googleapis.com/css2?family=Sancreek');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps');

$media-tablet: 768px;
$media-phone: 360px;

$skew-degrees: 4deg;
// Averia serif libre - h1, main sections
// sancreek - noodly cheezy old west slab-serif - h2, buttons etc
// Six Caps - tall movie font for landscape windows - h1

@import "css/portrait";
// @import "css/landscape";

.pic-bg {
  // background-color: rgba(0,0,0,0.25);
  min-width: 225px;
  min-height: 225px;
  background-position: center;
  background-size: cover;
  order: 0;
}

.skewbox {
  &:nth-child(2n) .pic-bg {
  order: 1;
  }
  &:nth-child(3n-2) .pic-bg {
    background-image: url("assets/il-buono.svg");
  }
  &:nth-child(3n-1) .pic-bg {
    background-image: url("assets/il-brutto.svg");
  }
  &:nth-child(3n) .pic-bg {
    background-image: url("assets/il-cattivo.svg");
  }
}
  // background-image: url("assets/il-buono.svg");